.cityContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.cityHeader {
    font-size: 40px;
    font-weight: bold;
}

.cityItemContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    gap: 20px;
    padding: 20px;
}

.cityItem:hover {
    cursor: pointer;
    opacity: 0.7;
}
